body{
  background-color: aliceblue;
  background-image: url('back.jpg');
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h1{
  text-align: center;
  font-size: 70px;
}
form {
  text-align: center;
}

p{
  color: #DCDCDC;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
